@use "../variables" as vars;

.root {
  display: grid;
  grid-auto-flow: column;
  column-gap: 24px;
}

.profile {
  position: relative;
}

.profileButton {
  display: flex;
  align-items: center;
}

.profileAvatar {
  width: vars.$avatarSize;
  height: vars.$avatarSize;
}

.dropdown {
  display: none;

  &_visible {
    position: absolute;
    z-index: 1;
    top: calc(100% - 1px);
    right: 0;
    display: block;
  }
}

.loginButtonLabel {
  composes: buttonLabel from "../helpers.scss";
}
